<a href="https://colab.research.google.com/github/Luiz-Octavioo/Curso-de-Python-para-Estudos-Climaticos/blob/main/Introdu%C3%A7%C3%A3o_ao_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center> <img src=https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/03/pandas.jpg width=50% height=20%> <center>
    
 O Pandas é uma biblioteca do Python utilizada para análise e manipulação de dados e nos permite trabalhar de forma rápida e eficiente com arquivos do tipo csv,excel,txt,etc.

    
A biblioteca fornece duas maneiras de estruturar os nossos dados:
    
# DATAFRAME
    
O DataFrame que possui uma estrutura tabular de N-dimensões, onde cada coluna é um campo da tabela e cada linha um registro.
    
 
<!-- <center> <img src=https://minerandodados.com.br/wp-content/uploads/2019/12/DataFrame.png width=30% height=20%> <center> -->
    

# SERIES    
    
A Series que é uma matriz unidimensional que contém uma sequencia de valores acompanhado de seus respectivos índices.    
    
<!-- <center> <img src=https://minerandodados.com.br/wp-content/uploads/2019/12/Series.png width=30% height=10%> <center> -->

Pela convenção da comunidade, o Pandas é reconhecido pela abreviatura **pd**. 

Isto é, podemos importá-lo da seguinte maneira:

In [ ]:
# Importar o pacote do pandas
import pandas as pd

## Importando o Banco de dados

o PANDAS disponibiliza varias métodos de importação de banco de dados.


Entre eles tem o **`pd.read_csv`, `pd.read_excel`**

Vamos utilizar a função **`pd.read_excel`** para ler um banco de dados em formato **`.xlsx`**

In [ ]:
# Ler um dataframe
df = pd.read_excel('weather_data.xlsx')

In [ ]:
# Checando o tipo do dado
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Visualizar o banco de dados
df

          Time  Precipitation  Max_Temperature  Min_Temperature
0   1979-01-01     455.021210        30.201332        19.996052
1   1979-02-01     338.217957        29.395452        19.578264
2   1979-03-01     491.303711        31.259825        20.805937
3   1979-04-01     191.876755        30.867510        21.428846
4   1979-05-01     256.988159        31.247507        21.277273
..         ...            ...              ...              ...
499 2020-08-01      12.060126        35.065140        22.120180
500 2020-09-01     119.848358        34.769093        23.156425
501 2020-10-01      94.975677        33.413387        23.048061
502 2020-11-01     139.511963        32.689674        23.355593
503 2020-12-01     156.649399        31.290405        23.005072

[504 rows x 4 columns]

In [ ]:
# Ver os primeiras linhas do banco de dados
df.head()

        Time  Precipitation  Max_Temperature  Min_Temperature
0 1979-01-01     455.021210        30.201332        19.996052
1 1979-02-01     338.217957        29.395452        19.578264
2 1979-03-01     491.303711        31.259825        20.805937
3 1979-04-01     191.876755        30.867510        21.428846
4 1979-05-01     256.988159        31.247507        21.277273

In [ ]:
# Ver as ultimas linhas do banco de dados
df.tail()

          Time  Precipitation  Max_Temperature  Min_Temperature
499 2020-08-01      12.060126        35.065140        22.120180
500 2020-09-01     119.848358        34.769093        23.156425
501 2020-10-01      94.975677        33.413387        23.048061
502 2020-11-01     139.511963        32.689674        23.355593
503 2020-12-01     156.649399        31.290405        23.005072

In [ ]:
# Verificar informações sobre o banco de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Time             504 non-null    datetime64[ns]
 1   Precipitation    504 non-null    float64
 2   Max_Temperature  504 non-null    float64
 3   Min_Temperature  504 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 15.9 KB

In [ ]:
# Outra maneira de verificar informaçoes sobre o  tipo de cada dado
df.dtypes

Time               datetime64[ns]
Precipitation             float64
Max_Temperature           float64
Min_Temperature           float64
dtype: object

O pandas pode acessar as colunas de um dataframe utilizando a seguinte sintaxe:

**dataframe['nome_coluna']**

ou

**dataframe.nome_coluna**

In [ ]:
# Acessar apenas uma coluna especifica com o pandas
df.Precipitation

0      455.021210
1      338.217957
2      491.303711
3      191.876755
4      256.988159
          ...
499     12.060126
500    119.848358
501     94.975677
502    139.511963
503    156.649399
Name: Precipitation, Length: 504, dtype: float64

In [ ]:
# Ou
df['Precipitation']

0      455.021210
1      338.217957
2      491.303711
3      191.876755
4      256.988159
          ...
499     12.060126
500    119.848358
501     94.975677
502    139.511963
503    156.649399
Name: Precipitation, Length: 504, dtype: float64

In [ ]:
# Transformar a coluna de data em indice para futuras manipulaçoes
df.set_index('Time', inplace=True) # Utilizamos o inplace para a alteraçao ser feita no dataframe

In [ ]:
# Verificar se existe falhas no banco de dados
df.isna()

            Precipitation  Max_Temperature  Min_Temperature
Time
1979-01-01          False            False            False
1979-02-01          False            False            False
1979-03-01          False            False            False
1979-04-01          False            False            False
1979-05-01          False            False            False
...                   ...              ...              ...
2020-08-01          False            False            False
2020-09-01          False            False            False
2020-10-01          False            False            False
2020-11-01          False            False            False
2020-12-01          False            False            False

[504 rows x 3 columns]

 Desta maneira não fica muito intuitivo verificar as falhas no banco de dados. Por isso 
 em conjunto utilizamos o método **`sum`** do pandas para fazer a soma dos valores nulos se caso, 
 eles existam

In [ ]:
df.isna().sum()

Precipitation      0
Max_Temperature    0
Min_Temperature    0
dtype: int64

In [ ]:
# Vamos fazer uma rapida estatistica descritiva sobre o banco de dados
df.describe()

       Precipitation  Max_Temperature  Min_Temperature
count     504.000000       504.000000       504.000000
mean      164.603227        31.797526        22.304100
std       119.357052         1.341052         1.053482
min         0.287184        28.669922        17.973585
25%        63.532836        30.870312        21.671768
50%       142.906311        31.585147        22.478896
75%       253.291790        32.636602        23.106882
max       588.296143        36.413834        24.366573

In [ ]:
# Aplicar a estatistica para apenas uma coluna especifica 
df.Max_Temperature.describe()

count    504.000000
mean      31.797526
std        1.341052
min       28.669922
25%       30.870312
50%       31.585147
75%       32.636602
max       36.413834
Name: Max_Temperature, dtype: float64

No pandas ha operadores aritméticos para executar diversos calculos estatisticos


Exemplo:

In [ ]:
# Média 
df.mean()

Precipitation      164.603227
Max_Temperature     31.797526
Min_Temperature     22.304100
dtype: float64

In [ ]:
# Soma
df.sum()

Precipitation      82960.026231
Max_Temperature    16025.953331
Min_Temperature    11241.266441
dtype: float64

In [ ]:
# Mediana
df.median()

Precipitation      142.906311
Max_Temperature     31.585147
Min_Temperature     22.478896
dtype: float64

In [ ]:
# Contagem
df.count()

Precipitation      504
Max_Temperature    504
Min_Temperature    504
dtype: int64

In [ ]:
# Desvio Padrao
df.std()

Precipitation      119.357052
Max_Temperature      1.341052
Min_Temperature      1.053482
dtype: float64

Neste caso, estas operaçoes tambem podem ser feita em uma coluna especifica **`series`** do pandas


**Exemplo:**

In [ ]:
df.Max_Temperature.mean()

31.797526450384233

In [ ]:
df.Max_Temperature.std()

1.341051647301171

### Criando uma nova coluna no PANDAS

Para criar uma nova coluna no pandas, seguimos abordagem semelhante a aplicada em dicionários.


**Exemplo**


Vamos calcular a Temperatura Média do Ar com dados de Temperatura Máxima e Mínima

In [ ]:
# Calculando a temperatura média
df['Mean_Temperature'] = (df['Max_Temperature'] + df['Min_Temperature']) / 2

In [ ]:
# Verificando a nova Coluna
df

            Precipitation  Max_Temperature  Min_Temperature  Mean_Temperature
Time
1979-01-01     455.021210        30.201332        19.996052         25.098692
1979-02-01     338.217957        29.395452        19.578264         24.486858
1979-03-01     491.303711        31.259825        20.805937         26.032881
1979-04-01     191.876755        30.867510        21.428846         26.148178
1979-05-01     256.988159        31.247507        21.277273         26.262390
...                   ...              ...              ...               ...
2020-08-01      12.060126        35.065140        22.120180         28.592660
2020-09-01     119.848358        34.769093        23.156425         28.962759
2020-10-01      94.975677        33.413387        23.048061         28.230724
2020-11-01     139.511963        32.689674        23.355593         28.022634
2020-12-01     156.649399        31.290405        23.005072         27.147738

[504 rows x 4 columns]

## Filtragem de valores por condicionais

Podemos verificar tambem o banco de dados de acordo com um limite, um padrão ou um limiar

Utilizando a funçao **`loc`** do pandas

**Exemplo:**

In [ ]:
# Verificando os valores no banco de dados quando a precipitaçao foi maior que 1
df.loc[df.Precipitation > 400]

            Precipitation  Max_Temperature  Min_Temperature  Mean_Temperature
Time
1979-01-01     455.021210        30.201332        19.996052         25.098692
1979-03-01     491.303711        31.259825        20.805937         26.032881
1980-01-01     445.744995        30.941853        21.786085         26.363969
1980-03-01     412.651428        32.577263        21.977953         27.277608
1981-03-01     487.087769        31.663687        22.177134         26.920410
1981-04-01     424.540131        31.206766        22.398924         26.802845
1982-01-01     457.060028        29.939602        21.688524         25.814063
1982-12-01     419.029449        30.701395        21.822632         26.262013
1985-01-01     459.070221        29.726282        21.422186         25.574234
1985-04-01     403.713440        30.742870        21.709520         26.226195
1985-12-01     468.312561        30.573500        21.804029         26.188765
1986-11-01     402.525055        31.530100        21.268545         26.399323
1987-02-01     438.456451        30.560246        20.943090         25.751668
1988-03-01     413.060669        31.505186        22.132795         26.818991
1992-02-01     431.062256        29.940937        22.737185         26.339061
1993-01-01     432.601166        30.422077        21.941334         26.181705
1994-03-01     416.108826        31.193197        22.772839         26.983018
1997-03-01     588.296143        30.311470        22.937586         26.624528
2017-01-01     413.305115        30.935074        22.718277         26.826675
2017-03-01     444.407837        32.097324        23.386301         27.741813
2018-02-01     488.614777        29.562311        22.776670         26.169491

In [ ]:
# Verificando a temperatura máxima quando a precipitaçao foi maior que 400
df.loc[df.Precipitation > 400, 'Max_Temperature']

Time
1979-01-01    30.201332
1979-03-01    31.259825
1980-01-01    30.941853
1980-03-01    32.577263
1981-03-01    31.663687
1981-04-01    31.206766
1982-01-01    29.939602
1982-12-01    30.701395
1985-01-01    29.726282
1985-04-01    30.742870
1985-12-01    30.573500
1986-11-01    31.530100
1987-02-01    30.560246
1988-03-01    31.505186
1992-02-01    29.940937
1993-01-01    30.422077
1994-03-01    31.193197
1997-03-01    30.311470
2017-01-01    30.935074
2017-03-01    32.097324
2018-02-01    29.562311
Name: Max_Temperature, dtype: float64

In [ ]:
# Verificando a temperatura media quando a temperatura maxima foi maior que 50 e a minima menor que 45
# df.loc[(df.Max_Temperature > 35) & (df.Min_Temperature < 25)]
df.loc[(df.Max_Temperature > 35) & (df.Min_Temperature < 25), 'Mean_Temperature']

Time
2006-08-01    29.012907
2008-08-01    29.115401
2010-08-01    28.481780
2011-08-01    29.350558
2012-08-01    29.238559
2015-08-01    29.386519
2015-09-01    29.742040
2016-08-01    28.971486
2017-08-01    29.028025
2020-08-01    28.592660
Name: Mean_Temperature, dtype: float64

Podemos criar novas colunas de acordo com a condicionais que inserimos e categorizar valores


**Exemplo**

In [ ]:
# Checando os valores máximos e mínimos
df.Mean_Temperature.describe()

count    504.000000
mean      27.050813
std        0.891027
min       24.486858
25%       26.491176
50%       27.065951
75%       27.616237
max       29.742040
Name: Mean_Temperature, dtype: float64

In [ ]:
# Inserindo Categorias
df.loc[df.Mean_Temperature >= 29, 'Condicao'] = 'Muito Quente'
# Entre um intervalo de temperaturas
df.loc[(df.Mean_Temperature >= 27) & (df.Mean_Temperature <= 28.99), 'Condicao'] = 'Quente'
df.loc[(df.Mean_Temperature >= 25) & (df.Mean_Temperature <= 26.9999), 'Condicao'] = 'Normal'
df.loc[df.Mean_Temperature <= 24.99, 'Condicao'] = 'Frio'

**Verificando o banco de dados com a nova coluna inserida**

In [ ]:
df

,Precipitation,Max_Temperature,Min_Temperature,Mean_Temperature,Condicao
Time,,,,,
1979-01-01,455.021210,30.201332,19.996052,25.098692,Normal
1979-02-01,338.217957,29.395452,19.578264,24.486858,Frio
1979-03-01,491.303711,31.259825,20.805937,26.032881,Normal
1979-04-01,191.876755,30.867510,21.428846,26.148178,Normal
1979-05-01,256.988159,31.247507,21.277273,26.262390,Normal
...,...,...,...,...,...
2020-08-01,12.060126,35.065140,22.120180,28.592660,Quente
2020-09-01,119.848358,34.769093,23.156425,28.962759,Quente
2020-10-01,94.975677,33.413387,23.048061,28.230724,Quente
2020-11-01,139.511963,32.689674,23.355593,28.022634,Quente
2020-12-01,156.649399,31.290405,23.005072,27.147738,Quente

Após inserirmos uma nova coluna com dados categóricos, vamos verificar quantas vezes cada valor aparece no dataframe utilizando a função **`.value_counts`**

In [ ]:
df.Condicao.value_counts()

Quente          252
Normal          238
Muito Quente     11
Frio              3
Name: Condicao, dtype: int64

In [ ]:
# Podemos personalizar o output do codigo inserindo o parametro normalize
df.Condicao.value_counts(normalize=True) # Normalizado

Quente          0.500000
Normal          0.472222
Muito Quente    0.021825
Frio            0.005952
Name: Condicao, dtype: float64

### Inserindo mais Colunas Categoricas

Neste exemplo iremos inserir os meses no banco de dados para obter resultados mais precisos sobre o banco de dados


Primeiro vamos resetar a coluna de indice Time para o método **``.dt``**

In [ ]:
df.reset_index('Time', inplace=True)

In [ ]:
# Aplicando o método .dt na coluna time (formato datetime)
df['Mes'] = df.Time.dt.month_name()

In [ ]:
# Pegando os valores unicos da coluna Mes para guardar em uma lista. Para uso posterior
lista_meses = list(df.Mes.unique())

# Pegando os valores unicos da coluna Condicao para guardar em uma lista. Para uso posterior
lista_condicao = list(df.Condicao.unique())

Agora podemos agrupar os dados por outra coluna e baseado nisso, podemos fazer novas analises

In [ ]:
# Agrupando o banco de dados pela coluna de Mes
df.groupby('Mes')

In [ ]:
df.groupby('Mes')['Precipitation'].describe().reindex(lista_meses)

,count,mean,std,min,25%,50%,75%,max
Mes,,,,,,,,
January,42.0,290.522399,98.525492,42.654789,226.510864,286.035385,356.287880,459.070221
February,42.0,259.566039,102.031750,62.456306,185.010544,261.030975,335.819939,488.614777
March,42.0,285.491030,112.637639,58.883354,218.909290,288.970398,338.381653,588.296143
April,42.0,224.649712,86.385341,57.251335,167.507786,208.439102,277.537369,424.540131
May,42.0,121.080173,54.371930,6.938355,91.771690,116.114494,138.845913,293.463196
June,42.0,50.093964,34.375821,2.237115,19.419549,45.293398,70.701071,130.120239
July,42.0,25.812039,23.402482,0.287184,7.934767,17.238499,39.038743,89.226181
August,42.0,45.656790,39.615095,0.685666,17.035465,34.656178,64.539793,194.630905
September,42.0,85.433527,44.215696,28.257061,48.704988,81.727036,116.766321,226.195572
October,42.0,151.744295,64.822309,22.596903,106.741110,147.993805,182.692924,305.835052
November,42.0,186.507960,77.640863,22.799767,139.769054,177.394417,247.453720,402.525055
December,42.0,248.680791,89.453597,111.368515,178.286549,237.429726,304.362946,468.312561

* **Opcional. Convertendo os meses de ingles para português**

In [ ]:
# Verificando os valores Unicos da coluna mês
df.Mes.unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [ ]:
dict_meses = {'January':'Janeiro', 'February':'Fevereiro', 
              'March':'Março', 'April':'Abril', 
              'May':'Maio','June':'Julho', 'July':'Julho',
             'August':'Agosto', 'September':'Setembro',
              'October':'Outubro','November':'Novembro',
             'December':'Dezembro'}
df.Mes.map(dict_meses)

0        Janeiro
1      Fevereiro
2          Março
3          Abril
4           Maio
         ...
499       Agosto
500     Setembro
501      Outubro
502     Novembro
503     Dezembro
Name: Mes, Length: 504, dtype: object

* **Indexando os meses em portugues.**

In [ ]:
# Criando um copia do dataframe para simples demonstraçao
df_copia = df.copy()

# Criando nova coluna com a traduçao dos meses
df_copia['Mes_br'] = df_copia.Mes.map(dict_meses)

# Deletando a coluna com os meses em ingles
df_copia.drop('Mes', axis=1, inplace=True)

# Mostrando o dataframe
df_copia

,Time,Precipitation,Max_Temperature,Min_Temperature,Mean_Temperature,Condicao,Mes_br
0,1979-01-01,455.021210,30.201332,19.996052,25.098692,Normal,Janeiro
1,1979-02-01,338.217957,29.395452,19.578264,24.486858,Frio,Fevereiro
2,1979-03-01,491.303711,31.259825,20.805937,26.032881,Normal,Março
3,1979-04-01,191.876755,30.867510,21.428846,26.148178,Normal,Abril
4,1979-05-01,256.988159,31.247507,21.277273,26.262390,Normal,Maio
...,...,...,...,...,...,...,...
499,2020-08-01,12.060126,35.065140,22.120180,28.592660,Quente,Agosto
500,2020-09-01,119.848358,34.769093,23.156425,28.962759,Quente,Setembro
501,2020-10-01,94.975677,33.413387,23.048061,28.230724,Quente,Outubro
502,2020-11-01,139.511963,32.689674,23.355593,28.022634,Quente,Novembro
503,2020-12-01,156.649399,31.290405,23.005072,27.147738,Quente,Dezembro

In [ ]:
dx = df.groupby('Mes')['Condicao'].value_counts()
# Reorganizando
dx_counts = dx.reindex(pd.MultiIndex.from_product([lista_meses, lista_condicao])).to_frame()

In [ ]:
dx_counts

                        Condicao
January   Normal            31.0
          Frio               NaN
          Quente            11.0
          Muito Quente       NaN
February  Normal            32.0
          Frio               1.0
          Quente             9.0
          Muito Quente       NaN
March     Normal            15.0
          Frio               NaN
          Quente            27.0
          Muito Quente       NaN
April     Normal            23.0
          Frio               NaN
          Quente            19.0
          Muito Quente       NaN
May       Normal            25.0
          Frio               NaN
          Quente            17.0
          Muito Quente       NaN
June      Normal            23.0
          Frio               1.0
          Quente            18.0
          Muito Quente       NaN
July      Normal            23.0
          Frio               1.0
          Quente            18.0
          Muito Quente       NaN
August    Normal             6.0
          Frio               NaN
          Quente            30.0
          Muito Quente       6.0
September Normal             9.0
          Frio               NaN
          Quente            29.0
          Muito Quente       4.0
October   Normal            11.0
          Frio               NaN
          Quente            31.0
          Muito Quente       NaN
November  Normal            17.0
          Frio               NaN
          Quente            24.0
          Muito Quente       1.0
December  Normal            23.0
          Frio               NaN
          Quente            19.0
          Muito Quente       NaN

* **Removendo os NaN values da Coluna**

* Vamos importar o **numpy** para nos auxiliar nesta operação

In [ ]:
import numpy as np

In [ ]:
dx_counts.Condicao.replace(np.nan, 0).to_frame()

                        Condicao
January   Normal            31.0
          Frio               0.0
          Quente            11.0
          Muito Quente       0.0
February  Normal            32.0
          Frio               1.0
          Quente             9.0
          Muito Quente       0.0
March     Normal            15.0
          Frio               0.0
          Quente            27.0
          Muito Quente       0.0
April     Normal            23.0
          Frio               0.0
          Quente            19.0
          Muito Quente       0.0
May       Normal            25.0
          Frio               0.0
          Quente            17.0
          Muito Quente       0.0
June      Normal            23.0
          Frio               1.0
          Quente            18.0
          Muito Quente       0.0
July      Normal            23.0
          Frio               1.0
          Quente            18.0
          Muito Quente       0.0
August    Normal             6.0
          Frio               0.0
          Quente            30.0
          Muito Quente       6.0
September Normal             9.0
          Frio               0.0
          Quente            29.0
          Muito Quente       4.0
October   Normal            11.0
          Frio               0.0
          Quente            31.0
          Muito Quente       0.0
November  Normal            17.0
          Frio               0.0
          Quente            24.0
          Muito Quente       1.0
December  Normal            23.0
          Frio               0.0
          Quente            19.0
          Muito Quente       0.0

## Filtragem por SQL do Pandas


Outra interessante maneira de manipular e filtrar dados no pandas é utilizando a função **`.query`** em que é baseada em **Standard Query Language (SQL)**


**Exemplos**

* Filtrar Condicao Muito quente de acordo com um mes especifico

* Filtre os meses com precipitacao <= 100

In [ ]:
df.query('Condicao == "Muito Quente" & Mes == "September"')

,Time,Precipitation,Max_Temperature,Min_Temperature,Mean_Temperature,Condicao,Mes
392,2011-09-01,62.311077,34.595806,23.608561,29.102183,Muito Quente,September
404,2012-09-01,58.926544,34.981609,23.380133,29.180871,Muito Quente,September
440,2015-09-01,28.257061,35.697010,23.787069,29.742040,Muito Quente,September
488,2019-09-01,90.616966,34.940788,23.584410,29.262599,Muito Quente,September

In [ ]:
df.query('Precipitation <= 100')['Mes']

5           June
6           July
16           May
17          June
18          July
         ...
488    September
497         June
498         July
499       August
501      October
Name: Mes, Length: 188, dtype: object

##  Aplicar redutores sobre o banco de dados


Para aplicar redutores no banco de dados devemos definir uma coluna de indice, neste caso, vamos definir novamente

a coluna de tempo

**Transformar a série mensal em anual**

In [ ]:
df.set_index('Time', inplace=True)

In [ ]:
df.resample('1Y').mean()

            Precipitation  Max_Temperature  Min_Temperature  Mean_Temperature
Time
1979-12-31     225.859641        31.490753        20.744616         26.117684
1980-12-31     235.501373        31.717306        21.220971         26.469138
1981-12-31     233.812271        31.801665        21.510090         26.655877
1982-12-31     225.989222        31.227357        21.882005         26.554681
1983-12-31     181.466892        32.206224        21.329817         26.768020
1984-12-31     225.306321        31.567694        21.540757         26.554225
1985-12-31     221.024825        31.275689        21.355908         26.315799
1986-12-31     210.304345        31.167678        21.253326         26.210502
1987-12-31     200.854767        31.524152        21.162039         26.343096
1988-12-31     206.675182        31.468873        21.237215         26.353044
1989-12-31     194.746932        30.953582        21.205118         26.079350
1990-12-31     177.858070        31.395325        21.876558         26.635941
1991-12-31     163.702152        31.770596        22.229970         27.000283
1992-12-31     199.505707        31.619193        22.024437         26.821815
1993-12-31     212.584174        31.142990        21.758598         26.450794
1994-12-31     206.644982        30.791410        21.962522         26.376966
1995-12-31     159.932365        30.964976        21.660707         26.312841
1996-12-31     132.430653        31.092261        21.282290         26.187276
1997-12-31     197.126447        31.805911        22.786859         27.296385
1998-12-31     116.562526        31.983303        23.258440         27.620871
1999-12-31      97.800736        31.689461        22.735810         27.212636
2000-12-31     141.847075        31.709885        22.282516         26.996201
2001-12-31     160.701644        31.283041        22.452460         26.867750
2002-12-31     143.698364        31.660461        23.204648         27.432554
2003-12-31     159.446252        31.684543        23.265203         27.474873
2004-12-31     139.269361        31.521144        23.291681         27.406412
2005-12-31      83.041818        32.276909        23.036709         27.656809
2006-12-31     177.055860        32.763863        22.628629         27.696246
2007-12-31     140.427663        31.862428        22.652157         27.257292
2008-12-31     164.775705        31.829694        22.260945         27.045320
2009-12-31     181.978621        32.174031        22.826864         27.500447
2010-12-31     139.249961        32.737615        22.746473         27.742044
2011-12-31     116.539990        33.028276        23.227423         28.127849
2012-12-31      65.535655        32.940455        23.124769         28.032612
2013-12-31     107.222111        31.991071        22.995192         27.493131
2014-12-31     107.206189        31.867872        22.850972         27.359422
2015-12-31     102.742245        32.772075        23.018840         27.895457
2016-12-31     144.437468        32.702485        23.137729         27.920107
2017-12-31     185.867315        31.786316        22.855404         27.320860
2018-12-31     141.602753        31.270340        22.723241         26.996791
2019-12-31     141.030668        32.357191        23.102962         27.730077
2020-12-31     143.969217        32.620018        23.069336         27.844677

# Pandas e Scipy

O pacote **SciPy** contém várias ferramentas dedicadas a problemas comuns em computação científica. Seus diferentes sub-módulos correspondem a diferentes aplicações, tais como interpolação, integração, otimização, processamento de imagens, estatísticas, funções especiais, etc

O SciPy pode ser comparado a outras bibliotecas de computação científica padrão, como a GSL (GNU Scientific Library para C e C + +), ou caixas de ferramentas do Matlab. O SciPy é o pacote principal de rotinas científicas em Python, que se destina a operar de forma eficiente em matrizes numpy e series e dataframes pandas, de modo que numpy e scipy trabalhem lado a lado.

<center><img src='scipy_modules.png' width=650></center>

**Exemplo pratico**

Vamos calcular a correlação entre a Precipitação e a Temperatura média do ar utilizando a biblioteca scipy.



Primeiramente vamos importar apenas o módulo de estatistica do scipy, e não a biblioteca inteira.

In [ ]:
from scipy import stats

Com o módulo ja importado, vamos chamar a funcào que calcula a correlacão de Pearson R e inserir os parametros de entrada

Primeiro vamos guardar as variaveis em objetos para melhor compreensão

In [ ]:
X = df['Mean_Temperature']
Y = df['Precipitation']

In [ ]:
# Calcular a correlaçao de Pearson R
stats.pearsonr(X, Y)

(-0.3289533490066128, 3.493647219587157e-14)

Como output, temos dois valores, guardado em uma tupla em que respectivamente são o valor da **Correlação de Pearson R e a significancia do seu resultado (valor-p)**


Desta maneira podemos fazer o unpacking desta tupla para extrair o resultado e guardar em novas variaveis

In [ ]:
# Calcular a correlaçao de Pearson R
r, p = stats.pearsonr(X, Y)

Feito isso, agora temos na variavel **r** o valor da correlação e na variavel **p** o valor da significancia

Podemos então fazer uma condicional e verificar com base no valor-p se o resultado da correlacao é significativo ou não

In [ ]:
alpha = 0.05
if p <= alpha:
    print(f'A correlação é significativa r = {r:.2f} valor-p = {p:.2f}')
else:
    print(f'A correlação não é significativa r = {r:.2f} valor-p = {p:.2f}')

A correlação é significativa r = -0.33 valor-p = 0.00

**Por fim, vamos salvar o dataframe para podermos utilizar no proximo módulo**

In [ ]:
# Salvando o dataframe modificado
#df.to_excel('variaveis_clima.xlsx')

**Por Hoje é isso pessoal**